* {
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	background-image: url("../images/topography.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	width: 960px;
	margin: 0 0 80px; /* bottom = footer height */
}

header {
	background-color: #ffffff;
	width: 100%;
	height: 68px;
	margin-bottom: 25px;
	border-bottom: 1px solid #dddddd;
	display: inline-block;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#headercontent {
	max-width: 960px;
	position: relative;
	left: 13.5%;
}

#content {
	position: relative;
	left: 37.2%;
}

h1 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	width: 270px;
	padding: 20px;
	position: relative;
	left: 100px;
	display: inline-block;
}

nav {
	position: relative;
	bottom: 60px;
	left: 112px;
}

.navlinks {
	text-decoration: none;
	color: #777777;
	background-color: #ffffff;
	float: right;
	padding: 15px;
}

section {
	clear: both;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-top: 83px;
	margin-bottom: 120px;
	display: inline-block;
	float: left;
}
#leftbox {
	width: 650px;
	display: inline-block;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: bold;
	margin: 15px;
	border-bottom: 2px solid #dddddd;
	padding: 20px;
}

#headshot {
	margin: 15px;
	float: left;
}

p {
	line-height: 200%;
	margin: 5px;
	padding: 10px;
}

#connectbox {
	background-color: #ffffff;
	margin-left: 15px;
	display: inline-block;
	padding: 15px;
	border: 1px solid #dddddd;
	position: absolute;
	right: 0;
	top: 83px;
	
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	width: 250px;
	padding: 20px;
	border-bottom: 2px solid #dddddd;
}

.pfheader {
	color: #ffffff;
	background-color: #4aaaa5;
	position: relative;
	bottom: 75px;
	font-size: 15px;

}

.portfolioentries {
	text-decoration: none;
	margin: 25px 25px 20px 40px;
	width: 250px;
	height: 250px;
	float: left;

}

#sociallinks {
	clear: both;
	padding: 10px;
	text-align: center;
}

footer {
	clear: both;
	background-color: #666666;
	color: #ffffff;
	font-size: 10px;
	width: 100%;
	height: 80px;
	padding: 45px;
	border-top: 4px solid #4aaaa5;
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

form {
	padding: 20px;
	max-width: 100%;
	line-height: 200%;
	font-size: 18px;
}

input {
	width: 100%;
	height: 30px;
	background-color: #dddddd;
	font-size: 15px;
}
textarea {
	width: 100%;
	height: 30px;
	background-color: #dddddd;
	font-size: 15px;
}

#messagebox {
	height: 300px;
	overflow: auto;
	resize: none;
}

#submitbutton {
	width: 33%;
	background-color: #4aaaa5;
	font-size: 18px;
	margin-top: 10px;
	color: #ffffff;
	font-weight: bold;
}
